/* Main style of the web page Pynum

Author: Jorge Carrasco Muriel
Date of creation: 08/03/2019*/

/* @import url('http://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:400italic,400');
@import url('http://fast.fonts.com/cssapi/95b765fd-fae4-4f1b-8155-d8244914a5c6.css'); */
body {
    background-color : white;
    font-family : 'Arvo', 'Lucida Handwriting';
    color : rgb(13,18,102);
    }
.Plet {
    color : red
    }
.ilet {
    color : green
    }
.elet {
    color : blue
    }
.header{
    color: rgb(255,255,180);
    background-color: rgb(0,0,30);
    height: 130px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
h1 {
    font-family : 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    text-align : center;
    margin-top : 10px;
    margin-bottom : 2px;
    font-size : 55px;
    }
h2 {
    text-align : center;
    font-style: cursive;
    font-size: 22px;
    padding : 0;
    margin : 0;
}
.link-own{
    color: yellow;
    position: absolute;
    bottom: 50px;
    right: 30px;
    /* border: solid; */
    padding : 4px;
}
#box {
    position: relative;
    width : 90%;
    background-color : rgb(215, 215, 255);
    border-radius: 25px;
    border : dashed;
    border-color : grey;
    font-size: 26px;
    text-align: center;
}
#charts {
    display: none;
}
#final{
    position : relative;
    padding : 10px;
    margin: 10px;
    width: 90%;
    background: white;
    border: dashed;
    overflow: auto;
}
.exp-tag {
    display : none;
}
#drag-text {
    position: relative;
    display: none;
}
#explanation {
    position: relative;
    margin: 10px;
    width: 90%;
    font-family: georgia;
    font-style: oblique;
    text-align: justify;
}
.params {
    position: relative;
    top: 310px;
    left: 200px;
    width: 30%;
}
.pressable{
    }
#kcent{
    width: 5%;
}
#fileb{
    position: relative;
    bottom: 30px;
    left: 30px;
}
.preview{
    font-family: sans;
    font-size: 12px;
    position: relative;
}
#labbrows{
    font-family: sans;
    position: relative;
    background-color: grey;
    font-size: 15px;
    border: solid;
    padding: 2px;
}
#userimg{
    position: absolute;
    overflow: auto;
    top: 60px;
    left: 250px;
    height: 100px;
    width: 55%;
}
.code-div{
    background-color: rgb(253,253,170);
    overflow: auto;
    border-left: solid yellow;
    margin: 10px;
}
pre{
    position: relative;
    margin: 10px;
}
#gif-div{
    position: relative;
    width: 90%;
    margin: 10px;
}
#gif{
    position: relative;
}
